<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		<li class="active">
			<a data-toggle="tab" data-target="#tab_1">Follows</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#tab_2">Follower</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#tab_3">Requests</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#tab_4">Relationship</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="tab_1" class="tab-pane active">
			<!-- Description -->
			<div class="row">
				<div class="col-sm-12">
					<p>
					Get a list of users the current user is following.
					</p>
				</div>
			</div>
			<!-- Header -->
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-header">Request Options</h3>
				</div>
			</div>
			<!-- Query Params -->
			<div class="row">
			
			</div>
			<!-- Access Token -->
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label>Choose Access Token</label>
						<select class="form-control select2" style="width: 100%;" tabindex="-1">
							<option>Token 1</option>
							<option>Token 2</option>
							<option>Token 3</option>
						</select>
					</div>
				</div>
			</div>
			<hr>
			<!-- Button Footer -->
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary" type="button">Execute</button>
					<button class="btn btn-default" type="button">Clear</button>
				</div>
			</div>
		</div>
		<div id="tab_2" class="tab-pane">
			<!-- Description -->
			<div class="row">
				<div class="col-sm-12">
					<p>
					Get a list of users the current user is followed by.
					</p>
				</div>
			</div>
			<!-- Header -->
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-header">Request Options</h3>
				</div>
			</div>
			<!-- Query Params -->
			<div class="row">
			
			</div>
			<!-- Access Token -->
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label>Choose Access Token</label>
						<select class="form-control select2" style="width: 100%;" tabindex="-1">
							<option>Token 1</option>
							<option>Token 2</option>
							<option>Token 3</option>
						</select>
					</div>
				</div>
			</div>
			<hr>
			<!-- Button Footer -->
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary" type="button">Execute</button>
					<button class="btn btn-default" type="button">Clear</button>
				</div>
			</div>
		</div>
		<div id="tab_3" class="tab-pane">
			<!-- Description -->
			<div class="row">
				<div class="col-sm-12">
					<p>
					Get a list of users who have requested the current user's permission to follow. 
					</p>
				</div>
			</div>
			<!-- Header -->
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-header">Request Options</h3>
				</div>
			</div>
			<!-- Query Params -->
			<div class="row">
			
			</div>
			<!-- Access Token -->
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label>Choose Access Token</label>
						<select class="form-control select2" style="width: 100%;" tabindex="-1">
							<option>Token 1</option>
							<option>Token 2</option>
							<option>Token 3</option>
						</select>
					</div>
				</div>
			</div>
			<hr>
			<!-- Button Footer -->
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary" type="button">Execute</button>
					<button class="btn btn-default" type="button">Clear</button>
				</div>
			</div>
		</div>
		<div id="tab_4" class="tab-pane">
			<!-- Description -->
			<div class="row">
				<div class="col-sm-12">
					<p>
					Get information about a relationship between the current user and another given user.<br>
					Response contains the outgoing and the incoming status of the relationship.<br> 
					Possible values for outgoing status: follows, requested, none<br>
					Possible values for incoming status: followed_by, requested_by, blocked_by_you, none
					</p>
				</div>
			</div>
			<!-- Header -->
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-header">Request Options</h3>
				</div>
			</div>
			<!-- Query Params -->
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label>User ID</label>
						<input class="form-control" placeholder="the other user"></input>
					</div>
				</div>
			</div>
			<!-- Access Token -->
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label>Choose Access Token</label>
						<select class="form-control select2" style="width: 100%;" tabindex="-1">
							<option>Token 1</option>
							<option>Token 2</option>
							<option>Token 3</option>
						</select>
					</div>
				</div>
			</div>
			<hr>
			<!-- Button Footer -->
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary" type="button">Execute</button>
					<button class="btn btn-default" type="button">Clear</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){
		$(".select2").select2({});
	});
</script>